<div data-role="description">
  
  <h1><%= @tracker.name %></h1>

  <div>Goal Weight: <%= @tracker.goal_weight %></div>

  <div>Happiness on <%= @tracker.created_at %></div>


  <p><%= @tracker.description %></p>

</div>

<div class="calender" data-role="calender">
  <input type="text" id="tracker_calender" data-role="datepicker">
</div>


