<!DOCTYPE html>
<html>
<head>
  <title>Wellness Tracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1 data-role="title">Wellness Tracker</h1>
</header>

<%= yield %>

</body>
</html>
